* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-weight: bold;
}

header {
  background-color: #313638;
  min-height: 20vh;
  color: #f2f2f2;
  font-size: 3rem;
  padding: 2rem;
}

main {
  background-color: #f06543;
  display: flex;
  height: 60vh;
  color: #313638;
}

nav {
  font-size: 3rem;
  color: #f2f2f2;
  padding: 2rem;
}

article {
  background-color: #f2f2f2;
  padding: 1rem;
  overflow: hidden;
}

main article h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #313638;
  margin-bottom: 1rem;
}

footer {
  background-color: #b3b3b3;
  color: #f2f2f2;
  font-size: 3rem;
  min-height: 20vh;
  width: 100%;
  padding: 2rem;
}
